*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
    scroll-behavior:smooth;
}


body{
    background:#fff7ed;
    color:#333;
}


header{

    background:#7c2d12;
    color:white;
    position:fixed;
    width:100%;
    top:0;

}


nav{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;

}


.logo{
    font-size:30px;
}


nav ul{

    display:flex;
    list-style:none;

}


nav ul li{

    margin-left:25px;

}


nav a{

    color:white;
    text-decoration:none;

}



.hero{

    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)),
    url("images/cafe1.jpg");

    background-size:cover;
    color:white;

}



.hero h1{

font-size:50px;

}


.hero button,
form button{

padding:12px 25px;
background:#ea580c;
color:white;
border:none;
border-radius:5px;
cursor:pointer;

}


section{

padding:100px 10%;
text-align:center;

}


h2{

font-size:35px;
margin-bottom:30px;

}



.cards{

display:flex;
justify-content:center;
gap:20px;

}


.card{

background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px #ccc;

}



.gallery{

display:flex;
gap:20px;
justify-content:center;

}


.gallery img{

width:250px;
height:200px;
object-fit:cover;
border-radius:10px;

}



form{

max-width:400px;
margin:auto;

}


input,
textarea{

width:100%;
padding:12px;
margin:10px;
border-radius:5px;
border:1px solid #ccc;

}


textarea{

height:100px;

}



footer{

background:#7c2d12;
color:white;
text-align:center;
padding:20px;

}



@media(max-width:700px){

nav{

flex-direction:column;

}

.cards,
.gallery{

flex-direction:column;

}

.hero h1{

font-size:35px;

}

}
